POSTGRES_USER=postgres
POSTGRES_PASSWORD=nesar0704
POSTGRES_DB=carboncred
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Blockchain Configuration (Sepolia Testnet)
ALCHEMY_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_KEY
BLOCKCHAIN_PRIVATE_KEY=YOUR_DEPLOYER_PRIVATE_KEY
CONTRACT_ADDRESS=YOUR_DEPLOYED_CONTRACT_ADDRESS
BLOCKCHAIN_CHAIN_ID=11155111
